.loading-root {
    /* Aquí definimos que use la foto que enviaste como fondo */
    -fx-background-image: url('fondo_carga.png');
    -fx-background-size: cover;
    -fx-background-position: center;
}

.loading-spinner {
    -fx-progress-color: white; /* Color de la rueda */
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.loading-spinner .indicator {
    -fx-border-color: transparent;
}
