/Agujero.class
/BolaDeNieve.class
/Casilla.class
/Dado.class
/Evento.class
/Foca.class
/Inventario.class
/Item.class
/Jugador.class
/Normal.class
/Oso.class
/Partida.class
/Pez.class
/Pinguino.class
/SueloQuebradizo.class
/Tablero.class
/Trineo.class
